<ion-content>
  <ion-slides pager="true" [options]="slidesConfig">
    <ion-slide class="slide1">
      <div class="contexto">
        <div class="subcontexto">
          <ion-label class="texto">Grande variedade de refeições</ion-label>
          <div class="botao">
            <ion-button class="botao" shape="round" (click)="abrirRegistro()">Saboreie</ion-button>
          </div>
        </div>
      </div>
    </ion-slide>
    <ion-slide class="slide2">
      <div class="contexto">
        <div class="subcontexto">
          <ion-label class="texto">Grande variedade de refeições</ion-label>
          <div class="botao">
            <ion-button class="botao" shape="round">Saboreie</ion-button>
          </div>
        </div>
      </div>
    </ion-slide>
    <ion-slide class="slide3">
      <div class="contexto">
        <div class="subcontexto">
          <ion-label class="texto">Grande variedade de refeições</ion-label>
          <div class="botao">
            <ion-button class="botao" shape="round">Saboreie</ion-button>
          </div>
        </div>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>
