<ion-header>
  <ion-toolbar>
    <ion-title class="titulo">Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item class="entradas">
    <ion-label position="floating">Usuário</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item class="entradas">
    <ion-label position="floating">Senha</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item class="entradas">
    <ion-label position="floating">Repita a senha</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-button class="botao" shape="round" [routerLink]="['/produtos']">Registrar</ion-button>
</ion-content>